{% extends 'basic_app/base.html' %}
{% block body_block %}



<div class="jumbotron">
    <h1>Please Login</h1>
<form action="{% url 'basic_app:user_login' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">User Name:</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1" >
        </div>
        
        <button type="submit" class="btn btn-primary" value="Login">Login</button>
      </form>
    </div>



{% endblock %}